.courosol-bg {
    background-color: #fceae8;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.price {
    color: #FF136F;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
}

.panda-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
}
}